<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>插入paper</title>
 </head>
    <body>
     <h3>插入paper</h3>
       <hr/>
       {%- for category, message in get_flashed_messages(with_categories = True) %}
          <div class = "alert alert-danger">
             {{ message }}
          </div>
       {%- endfor %}
       <form action = "{{ request.path }}" method = "post">
          <label for = "paper">paper</label><br>
          <input type = "text" name = "paper" placeholder = "paper" /><br>
          <input type = "submit" value = "提交" />
       </form>
    </body>
 </html>