<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>插入poem</title>
 </head>
    <body>
     <h3>插入poem</h3>
       <hr/>
       {%- for category, message in get_flashed_messages(with_categories = True) %}
          <div class = "alert alert-danger">
             {{ message }}
          </div>
       {%- endfor %}
       <form action = "{{ request.path }}" method = "post">
          <label for = "poem">poem</label><br>
          <input type = "text" name = "poem" placeholder = "poem" /><br>
          <input type = "submit" value = "提交" />
       </form>
    </body>
 </html>