<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>玩家登录</title>
    <script>
        const loginPlayerUrl = "{{ url_for('player.login_player') }}";
        const dashboardPlayerUrl = "{{ url_for('player.dashboard_player_web') }}";
        const rootPlayerUrl = "{{ url_for('player.root_player') }}";
    </script>
    <script src="{{ url_for('static',filename='js/layui.js') }}"></script>
    <link href="{{ url_for('static',filename='css/layui.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static',filename='img/logo.ico') }}">
    <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom_message_box.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom_message_box.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_player_web.css')}}">
    <script src="{{url_for('static', filename='js/login_player_web.js')}}"></script>

</head>

<body>
    <div class="container">
        <div class="decoration circle circle-1"></div>
        <div class="decoration circle circle-2"></div>

        <div class="content-box">
            <h1>诗词乐游飞花令</h1>
            <div id="message"></div>
            <div>
                <form id="loginForm">
                    <label for="username">用户名:</label>
                    <input type="text" id="username" name="username" placeholder="请输入用户名" required><br>
                    <label for="password">密码:</label>
                    <input type="password" id="password" name="password" placeholder="请输入密码" required><br>
                    <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius start-btn">开始游戏</button>
                </form>
                <div style="text-align: center; margin-top: 10px;">
                    <button id="anonymousLoginButton" class="layui-btn layui-btn-normal layui-btn-radius start-btn">游客登录</button>
                </div>
                <a href="{{ url_for('player.register_player_web') }}" style="margin-top: 10px;">注册</a>
            </div>
        </div>
    </div>

    <div class="audio-player">
        <audio src="{{ url_for('static',filename='music/鲸鱼音频.MP3') }}" id="background-music" controls="controls" loop="loop" autoplay="autoplay"></audio>
    </div>
</body>

</html>
